/* ОБНУЛЕНИЕ СТИЛЕЙ */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}

/*ОСНОВНІЕ СТИЛИ*/

a {
	color: rgb(184, 184, 8);
}

p.intro-text {
	color: blue;
}

div p {
	color: #000;
}

span{
	color: grey;
}

p span{
	color: brown;
}

.menu-link span{
	color:lightseagreen;
}

ol > li {
	color: orange;
}

ul.menu-list > li > a {
	color: rgb(228, 91, 109);
}

h1 {
	color: darkturquoise;
}
h2 {
	color: rgb(101, 136, 41);
}
h3 {
	color: rgb(198, 34, 231);
}
h4 {
	color: red;
}

.submenu-link {
	color: lightgreen;
}

div p.final-text {
	color: green;
}

a.up {
	color: red;
}
